version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: backend_app
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped

  frontend:
    build:
      context: ./interfaz
    container_name: frontend_app
    ports:
      - "5173:5173"
    volumes:
      - ./interfaz:/app
      - /app/node_modules
    restart: unless-stopped
