version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: backend_app
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped
