services:
  backend:
    build:
      context: ./backend
    container_name: backend_app
    ports:
      - "3002:3000"
    environment:
      - PORT=3000
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: frontend_app
    ports:
      - "3001:3001"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped